<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>Self Awareness, Why does it matter?</p>
<p>If I ask you who you are, what will you say? Will you tell me what your job is, what your interests are, whose son or daughter you are, and where you are from? Well, that’s only one part of who you are. The real story, is who you are within. It is the comprehensive unit that you comprise, along with your needs, desires, failings and habits. This understanding, is called Self-Awareness.

Self-Awareness is the single most important tool that can help you to find success in any area of your life. Awareness of self or Self-awareness is all about understanding your own needs, desires, failings, habits, why you feel what you feel and why you behave in a particular way and everything else that makes you, well, you. This will help you to make life changes life changes that will make your life easy. It is having a clear perception of who and what you are, including your strengths, weaknesses, thoughts, beliefs, and emotions.</p>
